*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    color: #000;
    background-color: #fff;
}
.conteiner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.main-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}
.min-title{
    text-align: center;
    font-size: 12px;
    color: #B5B3B3;
    /* margin-top: 20px; */
}
.block-card{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
    min-height: 400px;
}
.text{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1200px){
    .min-title{
        margin-top: 20px;
    }
    .block-card{
        padding: 20px;
    }
}
@media screen and (max-width: 993px){
    .block-card{
        flex-wrap: wrap;
    }
}
.card{
    padding: 30px;
}
.card-img{
    width: 100%;
    border-radius: 33px;
}
.card-title{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
}
.card-sub{
    font-size: 12px;
    font-weight: 300;
    margin-top: 14px;

}
.button{
    margin-top: 14px;
    
}
.btn{
    background-color: #CF6251;
    border-radius: 11px;
    padding: 7px 17px;
    text-decoration: none;
    color: #fff;

}
